@import "components/nav";
@import "components/file-explorer";
@import "components/search-explorer";
@import "components/video";
@import "mixins/variables";
@import "mixins/mixins";

// app
body {
    .standardtext();
    background-color: white;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
}
